/* Body Background */
body {
    background-color: #000;
    color: #fff;
    font-family: "Jersey 20", sans-serif;
    padding: 0 1rem;
}

/* Hero Section */
.hero {
    text-align: center;
}

.hero h1 {
    font-size: 37px;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: 0 0 20px #4ae2dd, 0 0 50px #4ae2dd;
    margin-top: 10vh;
}

/* Content Section */
.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
}

.intro-text {
    font-size: 22px;
    color: #00f2ff;
    text-align: center;
}

.content-block {
    margin-bottom: 2rem;
}

.content-block h2 {
    font-size: 28px;
    color: #00f2ff;
    margin-top: 3rem;
    margin-bottom: 0.5rem;
}

.content-block h3 {
    font-size: 22px;
    color: #b0f0ff;
    margin-top: 2rem;
}

.content-block p {
    font-size: 20px;
    color: #ffffff;
    line-height: 1.6;
}

.content-block li {
    font-size: 20px;
    color: #b0f0ff;
    line-height: 1.6;
}

/* Home Arrow Icon Styles */
.home-arrow {
    position: fixed;
    top: 30px;
    left: 30px;
    font-size: 30px;
    color: #4ae2dd;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px 13px;
    border-radius: 4px;
    box-shadow: 0 0 10px #4ae2dd;
    transition: transform 0.3s, box-shadow 0.3s;
    z-index: 1000; /* Ensure it's above other elements */
}

.home-arrow:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px #4ae2dd, 0 0 30px #4ae2dd;
}

/* Down Arrow Styling */
.toggle-arrow {
    cursor: pointer;
    font-size: 23px;
    color: #00f2ff;
    text-align: center;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    transition: transform 0.3s;
    margin-top: 2rem;
}

.toggle-arrow:hover {
    transform: scale(1.1);
    text-shadow: 0 0 20px #4ae2dd, 0 0 50px #4ae2dd;
}

/* Centering and Styling the Image */
.image-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    overflow: hidden;
    text-align: center;
    border-radius: 8px;
    
}

.image-container img {
    width: 100%;
    height: auto;
    opacity: 0.85; /* Make the image slightly darker */
    transition: opacity 0.3s, transform 0.3s;
}

.image-container img:hover {
    opacity: 1;
    transform: scale(1.05); /* Slight zoom effect on hover */
}

/* Image Container
.image-container {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

/* Image Styling */
/* .image-container img {
    width: 100%;
    height: auto;
    display: block;
    opacity: 0.85;
    transition: opacity 0.3s, transform 0.3s;
}  */
